html{
    height: 100%;
    width: 100%
}
body{
    height: 100%;
    width: 100%
}
h1{
    height: 10%;
    width: 100%;
    text-align: center;
}
#description{
   
    text-align: center;
}
form{
    margin:auto;
    border: 10px solid black;
    height: 100%;
    width: 70%;
    text-align: left;
    padding: 10px;
}

#name{
    width: 100%;
}
#email{
    width: 100%;
}
#age{
    width: 100%;
}

#dropdown {
    width: 100%;
}

#submit  {
    margin-top: 20px;
    width: 80%;
    margin-left: 5%;
    border: none;
    background-color: green;
    height: 30px;
}