html{
    height: 100%;
    width: 100%
}
body{
    font-size: 20px;
    height: 100%;
    width: 100%;
    background-color: #67b4bf;
}
h1{
    height: 10%;
    width: 100%;
    text-align: center;
}
#description{
   
    text-align: center;
}
form{
    background-color:#add4e0 ;
    margin:auto;
    border: 10px solid black;
    height: 100%;
    width: 70%;
    text-align: left;
    padding: 10px;
}

#name{
    width: 100%;
    margin-bottom: 20px;
}
#email{
    width: 100%;
    margin-bottom: 20px;
}
#age{
    width: 100%;
    margin-bottom: 20px;
}

#dropdown {
    width: 100%;
    margin-bottom: 20px;
}

#comment{
    
    width: 100%;
    
}
#submit  {
    margin-top: 20px;
    width: 80%;
    margin-left: 5%;
    border: none;
    background-color: green;
    height: 30px;
}